body {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    background-color: #F4F6F7;
  }

  .navbar-inverse{
    background-color: #0B5345;
  }
   
  .navbar-fixed-top {
    border: 0;
  }

  .navbar-header .navbar-brand {
    color: #E5E5E4;
  }

  #navbar ul{
    font-size: 13px;
  }
   
  /*
   * Configuración de Sidebar
   */
   
  /* Oculta para el responsive móvil, lo mostramos después*/
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Añadimos scroll al contenido si es necesario. */
      background-color: #f5f5f5;
      border-right: 2px solid #eee;
    }
  }
   
  /* Barra de navegacion (Sidebar) */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

   
   
  /*
   * Contenido principal
   */
  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  } 